/* Effet de parallax */

.section-search{
  background:  url(../images/home-slider.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Supression du parallax sur mobile */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* Animation 3D */
.ideas-item:hover{
transform: rotateY(-380deg);
transition: 2s ease-in-out;
}
