.header-logo {
    width: 9rem;
    transform: rotateZ(10deg) scaleX(0.7) scaleY(0.7);
    transition-property: transform;
    transition-duration: 2s, 1s;
    transition-delay: 0s, 0s;
    transition-timing-function: linear;
}

.header-logo:hover{
    transform: rotateZ(-10deg) scaleX(0.9) scaleY(0.9);
    transition-property: transform;
    transition-duration: 2s, 1s;
    transition-delay: 0s, 0s;
    transition-timing-function: linear;
}

.button{
  transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}

.button:hover:before{
    transform: translateX(.25rem) scale(1.5);
}
 
.slideInUp {
    animation: slideInUp 0.3s ease-out ; 
}

/* Section Blons plans 
****************************************/

.section-tips {
  animation-name: imagesScroll;
  animation-timeline: scroll();
}

/* Section Idées / Tops 
****************************************/

.section-ideas{
  animation-name: imagesScroll;
  animation-timeline: scroll();
}

.ideas-item{
  transition: 0.1s ease;
}

.ideas-item:hover{
  transform: translateX(.25rem) scale(1.1);
}

.tops-item{
   transition: 0.1s ease;    
}

.tops-item:hover{
  transform: translateX(5%);
}

/* Footer - sociaux
****************************************/

.footer-social-icon{
  transition: transform 0.3s ease-in-out;
}

.footer-social-icon:hover{
  transform: translateX(5px);
}
/* Keyframes */

@keyframes imagesScroll {
    0% { transform: scale(0.70); opacity: 0.5; }
    50% { transform: scale(0.97); opacity: 0.97; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp{
    from{
        transform: translateY(-25%);
    }to{
        transform: translateY(0);
    }
}