/* Effet de parallax */

.section-search{
  background:  url(../images/home-slider.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Supression du parallax sur mobile */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* Animations liens Bons-Plans */

/* .tips-link span {
  position: relative;    
  display: inline-block; 
  padding-left: 25px;  
  overflow: hidden; 
  z-index: 1;
} 

.tips-link span:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #811810;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s;
  z-index : -1;

}

.tips-link span:hover:before{
  width: 300px;
  height: 300px;
} */


/* Animation 3D */
.ideas-item:hover{
transform: rotateY(-360deg);
transition: 2s ease-in-out;
}
