/* header{
  display: flex;
} */

/* Cacher la barre de scroll horizontal */
body{
  overflow-x: hidden;
}

/* Effet de parallax */

.section-search{
  background:  url(../images/home-slider.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Supression du parallax sur mobile */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* Animation des titres */
h2{
  transform: scale(99%);
  transition: .2s;
}

h2:hover{
  transform: scale(100%);
}

/* Animations liens Bons-Plans */

 .tips-link span {
  position: relative;    
  display: inline-block; 
  padding-left: 25px;  
  overflow: hidden; 
  z-index: 1;
} 

.tips-link span:before{
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 0px;
  height: 0px;
  background-color: #811810;
  border-radius: 50%;
  z-index : -1;
  transition: width 0.5s, height 0.5s;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.tips-link span:hover:before{
  width: 500px;
  height: 500px;
} 

/* Animation du formulaire de recherches */
.search-form{
  transform: translateY(200%);
  opacity: 0;
  animation: slideup 1s ease-in forwards;
}

@keyframes slideup {
  0%{
    transform: translateY(200%) scale(0.5);
  }
  50%{
    transform: translateY(100%) scale(1.1);
    opacity: 50;
  }
  100%{
    transform: translateY(0%) scale(1);
    opacity: 100;
  }
}
/* Animation du texte de la newsletters */
.newsletter-form-fieldset{
  transform: translateX(100%);
  animation: slidein 4s cubic-bezier(0.28,-1.48, 0.54, 2.21) forwards;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Animation 3D des idées voyages */
.ideas-item:hover{
transform: rotateY(-360deg);
transition: 2s ease-in-out;
}

/* Animation des top destinations */
.tops-item:hover{
  transform: translateX(1rem);
  border: var(--white-color) 1px solid;
  transition: .5s;
}

/* Animation des liens vers les réseaux sociaux */
.footer-social-icon:hover{
transform: translateX(1rem) scale(1.1);
transition: .2s;
}
