/* Stucture */
.form_UE_L221{
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.quick-reservation-form{
  display: flex;
}

.row-form{
  display: flex;
  gap: 1rem;
}

.form-small-text{
  font-size: 0.7rem;
}

.quick-reservation{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0.5rem;
}

.quick-reservation-legend{
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
}

.quick-reservation-input{
  padding: 0.5rem;
  margin-bottom: 1rem;
}