/* Stucture */
.form_UE_L221{
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.quick-reservation-form{
  display: flex;
}

.row-form{
  display: flex;
  gap: 1rem;
}

.form-small-text{
  font-size: 0.7rem;
}

.quick-reservation{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0.5rem;
}


.quick-reservation-legend{
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
}

.quick-reservation-input{
  padding: 0.5rem;
  margin-bottom: 1rem;
}

/* Vidéo */

.video-btn{
  padding: 0.7rem 1.2rem;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 4px;
  margin-top: 1rem;
  display: inline-block;
  width: auto;
  height: auto;
  align-self: flex-start;
}


.video-btn:hover{
  transform: scale(1.05);
  background-color: var(--primary-color);
}

.animated-video{
  width: 25rem;
  margin-top: 1rem;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.4s;
}

.animated-video.show{
  opacity: 1;
  transform: translateY(0);
}
